@model UpdateProductVm
@using WebApplication1.ViewModels.ProductVms;

<form method = "post">
    <div class = "card-header">
        <h2>Update Product</h2>
    </div>
    <div class = "card-body">
        <div class = "form-group">
            <label asp-for = "Name"></label>
            <input type = "text" asp-for = "Name" class = "form-control" placeholder="Name"/>
            <span asp-validation-for = "Name" class = "text-danger"></span>
        </div>
        <div class = "form-group">
            <label asp-for = "ProductCategoryId"></label>
            <select class = "form-control" asp-for = "ProductCategoryId" asp-items = "Model.ProductCategoriesSelectList()"></select>    
            <span asp-validation-for = "ProductCategoryId" class = "text-danger"></span>
        </div>
        <div class = "form-group">
            <label asp-for = "Description"></label>
            <textarea asp-for = "Description" row="5" class = "form-control" placeholder = "product description"></textarea>
            <span asp-validation-for = "Description" class = "text-danger"></span>
        </div>
    </div>
    <div class = "card-footer">
        <button class = "btn btn-success">Update</button>
    </div>
</form>